<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <h1>The Checkout Page</h1>
            <% products.forEach((p) => { %>
                <li class="cart__item">
                    <h1><%= p.productId.title %></h1>
                    <h2>Quantity: <%= p.quantity %></h2>
                    
                </li>
            <% }) %>
        </ul>
        <div class="centered">
            <h2>Total: $<%= totalSum %></h2>
        </div>
        <div class="centered">
            <button id="order-btn" class="btn">ORDER</button>
            <script src="https://js.stripe.com/v3/"></script>
            <script> 
                var stripe = Stripe('pk_test_51OhjhSG09TXMl5lyAPNrgzeq23LYSaKby4uCnDNgbz0M5GVl574YQlXtV1VQrboNYSfmkeFVfYH4CbKauHOR3LX800J4GkFakb');
                var orderButton = document.getElementById('order-btn');
                orderButton.addEventListener('click', function() {
                    stripe.redirectToCheckout({
                        sessionId: '<%= sessionId %>'
                    })
                })
            </script>
        </div>
        </main>
        <%- include('../includes/end.ejs') %>